<div class="header_nav_box">
    <ul class="nav_ul">
        <li class="nav_li finish_active">
            <span class="spot"></span>
            <span class="title">填写信息</span>
        </li>
        <li class="nav_li finish_active">
            <span class="spot"></span>
            <span class="title">选择方案</span>
        </li>
        <li class="nav_li finish_active">
            <span class="spot"></span>
            <span class="title">险企报价</span>
        </li>
        <li class="nav_li active">
            <span class="spot"></span>
            <span class="title">核保审核-正在核保</span>
        </li>
        <li class="nav_li">
            <span class="spot"></span>
            <span class="title">支付订单</span>
        </li>
    </ul>
</div>
<div class="submit_success_container">
    <div class="submit_success_content">
        <div class="time_bg"></div>
        <div class="submit_success_infor_content">
            <h1 class="title">订单提交成功</h1>
            <p class="text">您的订单正在进行人工核保，<span>60s</span>后客服会以短信的形式提示核保结果，请保持电话畅通。
                您也可以继续在本页面等待，或者点击按钮查看订单最新状态。</p>
            <div class="btn_box">
                <a class="btn look_order_btn">查看订单</a>
                <a class="btn return_index_btn">返回首页</a>
            </div>
        </div>
    </div>
</div>