<div class="header_nav_box">
    <ul class="nav_ul">
        <li class="nav_li finish_active">
            <span class="spot"></span>
            <span class="title">填写信息</span>
        </li>
        <li class="nav_li finish_active">
            <span class="spot"></span>
            <span class="title">选择方案</span>
        </li>
        <li class="nav_li finish_active">
            <span class="spot"></span>
            <span class="title">险企报价</span>
        </li>
        <li class="nav_li active">
            <span class="spot"></span>
            <span class="title">核保审核-核保通过</span>
        </li>
        <li class="nav_li">
            <span class="spot"></span>
            <span class="title">支付订单</span>
        </li>
    </ul>
</div>
<div class="submit_adopt_container">
    <div class="submit_adopt_content">
        <div class="gou_bg"></div>
        <div class="submit_adopt_infor_content">
            <h1 class="title">订单核保通过</h1>
            <p class="text">您的订单已经核保通过，请点击按钮完成下一步流程。</p>
            <div class="btn_box">
                <a class="btn payment_order_btn">支付订单</a>
            </div>
        </div>
    </div>
</div>