<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>密码设置</title>
    <%= layout() %>
</head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">密码设置</section>
    <section class="password_set_up_container">
        <a class="password_a">
            <span class="label_title">修改支付密码</span>
            <i class="right_bg"></i>
        </a>
        <a class="password_a">
            <span class="label_title">修改登录密码</span>
            <i class="right_bg"></i>
        </a>
    </section>
</main>
</body>
</html>