<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <%= layout %>
</head>
<body>
<section class="page_container form" data-btn="choice_btn">
    <section class="page_title_container">
        <h1 class="title">首页</h1>
        <i class="right_bg_box"></i>
    </section>

    <section class="header_region_container">
        <div class="region_box">
            <div class="title">投保地区</div>
            <div class="region_text_box">宁波</div>
        </div>
        <div class="car_plate_box">
            <div class="title">车牌号</div>
            <div class="input_box">
                <span class="p_plate">浙B</span>
                <input type="text" data-toggle="true" checkType="empty" data-error="车牌号格式错误" data-null-error="请输入车牌号">
            </div>
        </div>
    </section>
    <section class="page_loading_container">
        <!--车主手机号-->
        <section class="input_phone">
            <div class="input_box">
                <input type="number" placeholder="请输入车主手机号" data-toggle="true" checkType="phone" data-error="手机号格式不正确" data-null-error="请输入手机号">
            </div>
        </section>
        <section class="loading_container">
            <div class="loading_header_box">
                <i class="title_bg"></i>
                车主身份证上传
            </div>
            <div class="uploading bg1">
                <img width="100%" height="100%" class="xsz_img">
                <input type="file" class="xsz_file" value="">
                <input type="hidden" name="image_info[]" class="value_img">
                <a href="javascript:" class="xsz_upload" data-id="#sfz_img"></a>
            </div>
        </section>
        <section class="loading_container">
            <div class="loading_header_box">
                <i class="title_bg1"></i>
                行驶证上传
            </div>
            <div class="uploading bg2">
                <img width="100%" height="100%" class="xsz_img">
                <input type="file" class="xsz_file" value="">
                <input type="hidden" name="image_info[]" class="value_img">
                <a href="javascript:" class="xsz_upload" data-id="#sfz_img"></a>
            </div>
        </section>
        <section class="loading_status_container">
            <div class="choice_status_box">
                <div class="status_box">
                    <div class="title">投保人同车主</div>
                    <div class="status_bg">
                        <div class="move_box"></div>
                    </div>
                    <input type="checkbox">
                </div>
                <section class="loading_container">
                    <div class="loading_header_box">
                        <i class="title_bg"></i>
                        XXX身份证上传
                    </div>
                    <div class="uploading bg2">
                        <img width="100%" height="100%" class="xsz_img">
                        <input type="file" class="xsz_file" value="">
                        <input type="hidden" name="image_info[]" class="value_img">
                        <a href="javascript:" class="xsz_upload" data-id="#sfz_img"></a>
                    </div>
                </section>
            </div>
            <div class="choice_status_box">
                <div class="status_box">
                    <div class="title">投保人同车主</div>
                    <div class="status_bg">
                        <div class="move_box"></div>
                    </div>
                    <input type="checkbox">
                </div>
                <section class="loading_container">
                    <div class="loading_header_box">
                        <i class="title_bg"></i>
                        XXX身份证上传
                    </div>
                    <div class="uploading bg2">
                        <img width="100%" height="100%" class="xsz_img">
                        <input type="file" class="xsz_file" value="">
                        <input type="hidden" name="image_info[]" class="value_img">
                        <a href="javascript:" class="xsz_upload" data-id="#sfz_img"></a>
                    </div>
                </section>
            </div>
            <div class="status_box">
                <div class="title">被保人同车主</div>
                <div class="status_bg">
                    <div class="move_box"></div>
                </div>
                <input type="checkbox">
            </div>
            <div class="status_box">
                <div class="title">受益人同车主</div>
                <div class="status_bg">
                    <div class="move_box"></div>
                </div>
                <input type="checkbox">
            </div>
            <div class="status_box">
                <div class="title">车辆为过户车</div>
                <div class="status_bg">
                    <div class="move_box"></div>
                </div>
                <input type="checkbox">
            </div>
        </section>
        <section class="btm_btn_box">
            <div class="choice_btn">选择投保方案</div>
        </section>
    </section>
</section>
</body>
<script src="http://cdn.msphcn.com/msphStatic/bin/mui.min.js"></script>
<script src="http://cdn.msphcn.com/wap-public/js/exif.js"></script>
<script src="http://cdn.msphcn.com/msphStatic/bin/mui.picupload.js"></script>
<script>
  $(function(){
    var uploadIng = $('.uploading');
    uploadIng.each(function(){
      var $this = $(this);
      var xsz_file = $this.find('.xsz_file');
      var xsz_img = $this.find('.xsz_img');
      $this.find('.xsz_upload').on('click',function(){
        xsz_file.trigger("click");
      });
      xsz_file.on("change",function(){
        "use strict";
        var UPLOAD_MODULE_COROLLER_METHOD = '{:U("upload")}';
        var insure_img_upload = new mui.PicUpload({"MODULE_COROLLER_METHOD":UPLOAD_MODULE_COROLLER_METHOD, "FILE_ID":xsz_file, "IMG_ID":xsz_img,
          'callback':function(data){
            loadClose();
            if(data.status){
              xsz_file.next("input").val(data.msg);
            }
          }
        });
      });
    });

//      $('#keep_btn').on("click",function(){
//        "use strict";
//        console.log('正在提交');
//        mui.ajax({
//          url:'',
//          async:true,
//          data:$("#form").serialize(),
//          type:'post',
//          dataType:'json',
//          success:function(data){
//            console.log('提交成功');
//          },
//          error:function(){
//            console.log('网络错误');
//          }
//        })
//      });
  })
</script>
</html>