<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站升级当中...</title>
    <%= layout() %>
</head>
<body>
<div class="page_content_box">
    <div class="middle_content_box">
        <div class="logo_box">
            <img width="100%" height="100%" src="<%= require('../../../public-resource/imgs/company_logo.jpg') %>">
        </div>
        <div class="content_img">
            <img width="100%" height="100%" src="<%= require('../../../public-resource/imgs/web_state_img.png') %>">
            <div class="note_text">
                <h4>为打造更好的体验，我们正在对网站进行维护升级中。</h4>
                <p>预计1小时后恢复，网站升级期间将暂停服务，为您带来不便请见谅。<br>如需咨询服务，请拨打客服热线：400-880-2068</p>
            </div>
        </div>
    </div>
    <div class="footer_content_box">
        <div class="content_box">
            <div class="pos_box">
                <div class="a_box">
                    <a>关于我们</a>
                    <em>|</em>
                    <a>帮助中心</a>
                    <em>|</em>
                    <a>联系我们</a>
                    <em>|</em>
                    <a>市场合作</a>
                    <em>|</em>
                    <a>投诉与建议</a>
                </div>
                <p class="eng_text">Copyright © 2017 xinhuanet.com Inc. All Rights Reserved. 浙ICP备12000680号-1</p>
                <p>新华网-钱江金融商城  版权所有  理财有风险，投资需谨慎</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>