<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>条款详情</title>
    <script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="http://cdn.msphcn.com/msphStatic/bin/rem.js"></script>
<link href="/xpxStatic/css/\order\insurance_clause\insurance_clause.css?51d6558ac02221d5e8f1" rel="stylesheet"></head>
<body>
<section class="page_container">
    <section class="page_content_box">
        <div class="img_box">
            <img width="100%" src="/xpxStatic/img/bd92e7776c240127b25242d52227964d.jpg">
        </div>
        <p style="margin-bottom:10px;text-indent:30px">
            <strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">第一条</span> </span></strong><span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">本保险合同由保险条款、投保单、保险单、保险凭证以及批单等组成。</span></span><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">凡涉及本保险合同的约定，均应采用书面形式。</span></span>
        </p>
        <p style="margin-bottom:10px;text-indent:28px">
            <strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">第二条</span> </span></strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">本保险合同的被保险人应为身体健康、能正常参加学习的各类大、中、小学、幼儿园及中等专业学校全日制在册学生。</span></span>
        </p>
        <p style="margin-bottom:10px;text-indent:28px">
            <strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">第三条</span> </span></strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">本保险合同的投保人应为具有完全民事行为能力的被保险人本人、对被保险人有保险利益的其他人。</span></span>
        </p>
        <p style="margin-bottom:10px;text-indent:28px">
            <strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">第四条</span> </span></strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">本保险合同的受益人包括：</span></span>
        </p>
        <p style="margin-bottom:10px;text-indent:21px">
            <span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">（一）身故保险金受益人</span></span>
        </p>
        <p style="margin-bottom:10px;margin-left:0">
            <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">订立本保险合同时，被保险人或投保人可指定一人或数人为身故保险金受益人。身故保险金受益人为数人时，应确定其受益顺序和受益份额；未确定受益份额的，各身故保险金受益人按照相等份额享有受益权。</span></span><span style=";font-family:\.\."><span style="font-family:宋体">投保人指定受益人时须经被保险人同意</span></span><span style=";font-family:宋体"><span style="font-family:宋体">。</span></span>
        </p>
        <p style="margin-bottom:10px;margin-left:0">
            <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">被保险人死亡后，有下列情形之一的，保险金作为被保险人的遗产，由保险人依照《中华人民共和国继承法》的规定履行给付保险金的义务：</span></span>
        </p>
        <p style="margin-bottom:10px;margin-left:0">
            <span style=";font-family:宋体;font-size:14px">1.<span style="font-family:宋体">没有指定受益人，或者受益人指定不明无法确定的；</span></span>
        </p>
        <p style="margin-bottom:10px;margin-left:0">
            <span style=";font-family:宋体;font-size:14px">2.<span style="font-family:宋体">受益人先于被保险人死亡，没有其他受益人的；</span></span>
        </p>
        <p style="margin-bottom:10px;margin-left:0">
            <span style=";font-family:宋体;font-size:14px">3.<span style="font-family:宋体">受益人依法丧失受益权或者放弃受益权，没有其他受益人的。</span></span>
        </p>
        <p style="margin-bottom:10px;margin-left:0">
            <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">受益人与被保险人在同一事件中死亡，且不能确定死亡先后顺序的，推定受益人死亡在先。</span></span>
        </p>
        <p style="margin-bottom:10px;margin-left:0">
            <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">被保险人或投保人可以变更身故保险金受益人，但需书面通知保险人，由保险人在本保险合同上批注。</span></span><strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">对因身故保险金受益人变更发生的法律纠纷，保险人不承担任何责任</span></span></strong><span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">。</span></span>
        </p>
        <p style="margin-bottom:10px;margin-left:0">
            <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">投保人指定或变更身故保险金受益人的，应经被保险人书面同意。被保险人为无民事行为能力人或限制民事行为能力人的，应由其监护人指定或变更身故保险金受益人。</span></span>
        </p>
        <p style="margin-bottom:10px;text-indent:21px">
            <span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">（二）伤残保险金受益人和医疗保险金受益人</span></span>
        </p>
        <p>
            <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">除另有约定外，本保险合同的伤残保险金和医疗保险金的受益人为被保险人本人。</span></span>
        </p>
        <p>
            <br/>
        </p>
    </section>
</section>
<script type="text/javascript" src="/xpxStatic/js/\order\insurance_clause\insurance_clause.js?51d6558ac02221d5e8f1"></script></body>
</html>