<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学平险投保</title>
    <%= layout %>
</head>
<body>
<section class="page_container">
    <section class="top_banner_box">
        <div class="banner_title">业务员工号</div>
    </section>
    <section class="login_input form" data-btn="salesman_btn">
        <div class="input_box">
            <input type="text" placeholder="请输入业务员工号" data-toggle="true" checkType="empty" data-error="请输入正确的业务员工号">
        </div>
    </section>
    <section class="btm_btn_box">
        <a class="insure_btn">投保平台</a>
        <div class="query_btn_box">
            <button class="btn left salesman_btn">业务管理</button>
            <a class="btn right">业绩查询</a>
        </div>
    </section>
</section>
</body>
</html>