<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>提交成功</title>
    <script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="http://cdn.msphcn.com/msphStatic/bin/rem.js"></script>
<link href="http://cdn.upingou.com/lingfenStatic/css/bh\submit_success.css?44bf26fa50817c7ddd88" rel="stylesheet"></head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">提交成功</section>
    <section class="success_content">
        <div class="success_img">
            <img width="100%" height="100%" src="http://cdn.upingou.com/lingfenStatic/img/52f113ab267cbb443d9833455f417c71.jpg">
        </div>
        <p class="text">已提交审核人员,请等候通知</p>
    </section>
    <a class="return_index">返回首页</a>
</main>
<script type="text/javascript" src="http://cdn.upingou.com/lingfenStatic/js/bh\submit_success.js?44bf26fa50817c7ddd88"></script></body>
</html>