<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改绑定手机</title>
    <%= layout() %>
</head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">修改绑定手机</section>
    <section class="remarks_text">
        <i class="remark_bg"></i>
        您正在修改零分账户绑定的手机号，请进行身份验证
    </section>
    <section class="modify_list_container">
        <a class="list_a">
            <p class="label_title">原手机号能接收验证码</p>
            <i class="right_icon_bg"></i>
        </a>
        <a class="list_a">
            <p class="label_title">原手机号不能接收验证码</p>
            <i class="right_icon_bg"></i>
        </a>
    </section>
</main>
</body>
</html>