<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学平险投保</title>
    <script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="http://cdn.msphcn.com/msphStatic/bin/rem.js"></script>
<link href="/xpxStatic/css/\user\salesman_login\salesman_login.css?51d6558ac02221d5e8f1" rel="stylesheet"></head>
<body>
<section class="page_container">
    <section class="top_banner_box">
        <div class="banner_title">业务员工号</div>
    </section>
    <section class="login_input form" data-btn="salesman_btn">
        <div class="input_box">
            <input type="text" placeholder="请输入业务员工号" data-toggle="true" checkType="empty" data-error="请输入正确的业务员工号">
        </div>
    </section>
    <section class="btm_btn_box">
        <a class="insure_btn">投保平台</a>
        <div class="query_btn_box">
            <button class="btn left salesman_btn">业务管理</button>
            <a class="btn right">业绩查询</a>
        </div>
    </section>
</section>
<script type="text/javascript" src="/xpxStatic/js/\user\salesman_login\salesman_login.js?51d6558ac02221d5e8f1"></script></body>
</html>