<!--底部内容-->
<div class="footer_nav_box" style="<%= footer_background %>" >
    <div class="footer_nav_content">
        <div class="pos">
            <ul class="a_box">
                <li><a href="">关于我们</a></li>
                <li>|</li>
                <li><a href="">帮助中心</a></li>
                <li>|</li>
                <li><a href="">联系我们</a></li>
                <li>|</li>
                <li><a href="">市场合作</a></li>
                <li>|</li>
                <li><a href="">投诉与建议</a></li>
            </ul>
            <p class="record_text">Copyright © 2017 xinhuanet.com Inc. All Rights Reserved. 浙ICP备12000680号-1</p>
            <p class="page_note_text">新华网-钱江金融商城  版权所有  理财有风险，投资需谨慎</p>
        </div>
    </div>
</div>