<!--筛选列表-->
<div class="screen_list_box">
    <ul class="list_box">
        <li class="list">
            <label class="tit">产品来源:</label>
            <div class="list_content">
                <span class="active">全部</span>
                <span>中民i投</span>
                <span>陆金所</span>
                <span>民生直销银行</span>
                <span>平安银行</span>
            </div>
        </li>
        <li class="list">
            <label class="tit">起投金额:</label>
            <div class="list_content">
                <span class="active">全部</span>
                <span>1万元以下</span>
                <span>1万-5万元</span>
                <span>5万-10万元</span>
                <span>10万元以上</span>
            </div>
        </li>
        <li class="list">
            <label class="tit">投资期限:</label>
            <div class="list_content">
                <span class="active">全部</span>
                <span>30天以下</span>
                <span>30天-90天</span>
                <span>90天-180天</span>
                <span>180天以上</span>
            </div>
        </li>
        <li class="list">
            <label class="tit">投资利率:</label>
            <div class="list_content">
                <span class="active">全部</span>
                <span>5%以下</span>
                <span>5%-7%</span>
                <span>7%-8%</span>
                <span>8%以上</span>
            </div>
        </li>
        <li class="list">
            <label class="tit">排序方式:</label>
            <div class="list_content">
                <span class="active">全部</span>
                <span>期限</span>
                <span>收益</span>
            </div>
        </li>
    </ul>
</div>