<div class="footer-contact">
    <div><%= title %></div>
    <ul>
        <li>
            <a href="javascript:;" class="contact-kf">
                <span>客服<br/>热线</span>
                <div class="contact-bor">
                    <em></em>
                    <dl>
                        <dt>客服热线</dt>
                        <dd>400-880-2068</dd>
                    </dl>
                </div>
            </a>
        </li>
        <li>
            <a href="/index.php?g=&m=Article&a=index&art_id=suggest" target="_blank" class="contact-tc"><span>我要<br/>吐槽</span></a>
        </li>
        <li>
            <a href="javascript:;" class="contact-up"><span>返回<br/>顶部</span></a>
        </li>
        <li class="footer-phone">
            <a href="javascript:;" class="contact-download">
                <div class="contact-bor">
                    <em></em>
                    <p><img src="<%= require('../../imgs/xiazai.png') %>" alt=""></p>
                </div>
            </a>
        </li>
    </ul>
</div>