<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>账单详情</title>
    <%= layout() %>
</head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">账单详情</section>
    <section class="bill_details_base_container">
        <h3 class="time">2018年4月</h3>
        <div class="btm_content_box">
            <div class="money_box">
                <p class="tit">剩余待还(元)</p>
                <p class="money_val">299.07</p>
                <p class="remarks_text">账单未出,将于<span>04月06日</span>出账</p>
            </div>
        </div>
    </section>
    <section class="bill_details_info_container">
        <div class="details_price_box">
            <div class="left_box">
                <h2 class="tit">账单金额</h2>
                <p class="val">299.07</p>
            </div>
            <div class="right_box">
                <p class="right_val">3笔明细</p>
                <i class="right_bg"></i>
            </div>
        </div>
        <ul class="time_container">
            <li class="time_li">
                <h3 class="tit">记账周期</h3>
                <p class="time">2018年02月06日-2018年03月05日</p>
            </li>
            <li class="time_li">
                <h3 class="tit">出账日</h3>
                <p class="time">2018年03月06日</p>
            </li>
            <li class="time_li">
                <h3 class="tit">最后还款日</h3>
                <p class="time">2018年02月23日</p>
            </li>
        </ul>
    </section>
    <section class="line_box"></section>
    <section class="all_wait_container">
        <span class="left_title">全部待还</span>
        <div class="right_box">
            <span class="money">2000.00</span>
            <i class="right_bg"></i>
        </div>
    </section>
</main>
</body>
</html>