<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>还款详情</title>
    <%= layout() %>
</head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">还款详情</section>
    <section class="payment_num_container">
        <div class="base_num">
            <h3>还款金额(元)</h3>
            <p class="num">623.07</p>
        </div>
    </section>
    <section class="details_list_container">
        <div class="details_list">
            <span class="label_title">账单月份</span>
            <span class="val">2018年02月账单</span>
        </div>
        <div class="details_list">
            <span class="label_title">支付方式</span>
            <span class="val">招商银行(尾号2222)</span>
        </div>
        <div class="details_list">
            <span class="label_title">还款时间</span>
            <span class="val">2018-02-23 17:15:34</span>
        </div>
    </section>
</main>
</body>
</html>