<section class="page_footer_nav">
    <div class="footer_ul">
        <a class="footer_nav_a <% if(active === 'index') {%>active<%} %>">
            <div class="pos">
                <div class="nav_bg lf_bg"></div>
                <p class="nav_text">零分</p>
            </div>
        </a>
        <a class="footer_nav_a <% if(active === 'qb') {%>active<%} %>">
            <div class="pos">
                <div class="nav_bg qb_bg"></div>
                <p class="nav_text">钱包</p>
            </div>
        </a>
        <a class="footer_nav_a <% if(active === 'wd') {%>active<%} %>">
            <div class="pos">
                <div class="nav_bg wd_bg"></div>
                <p class="nav_text">我的</p>
            </div>
        </a>
    </div>
</section>