<div class="form_input address_form_box">
    <label class="input_title">所在地区</label>
    <div class="select_box address_picker">
        <div class="picker_click">
            <p class="address_val">请选择所在地区</p>
            <i class="down_bg"></i>
        </div>
        <div class="address_menu_popup">
            <div class="choice_show_box"></div>
            <ul>
            </ul>
        </div>
    </div>
</div>