<div class="page_top_nav_box">
    <div class="top_nav_content">
        <div class="top_left_content"><i class="index_bg"></i>新华网首页</div>
        <div class="top_right_content">
            <span class="wel_text">您好,欢迎来到民商普惠金融商城!</span>
            <a class="login_btn">登录</a>
            <a class="register_btn">注册</a>
            <div class="contact_custom hover_box" data-class="active">
                <div class="custom hover_btn">
                    <i class="phone_bg"></i>联系客服<i class="up_down"></i>
                </div>
                <div class="contact_popup hover_popup">
                    <p class="tel">客服热线：<span>400-880-2068</span></p>
                    <p class="time">周一至周五：9:00-17:30</p>
                    <div class="qq_bg"></div>
                </div>
            </div>
            <a class="help_center">帮助中心</a>
            <div class="wx hover_box">
                <div class="hover_btn wx_bg"></div>
                <div class="wx_popup hover_popup">
                    <img width="100%" height="100%" src="<%= require('../../imgs/wx_code_img.png') %>">
                </div>
            </div>
        </div>
    </div>
</div>