<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我得积分</title>
    <%= layout %>
</head>
<body>
<section class="page_container">
    <section class="page_title_container">
        <a class="page_return_btn">
            <i></i>
        </a>
        <h1 class="title">我的积分</h1>
    </section>
    <section class="page_content_box">
        <h2 class="tit">账户积分</h2>
        <div class="integral_num_box">
            <div class="current_num">233,333</div>
            <div class="dj_num">当前冻结：13,333</div>
        </div>
    </section>
    <div class="pos_list_content">
        <div class="integral_ul_box">
            <a class="integral_li_box integral_popup_btn">
                <i class="list_bg tqjf"></i>
                <span class="text">提取积分</span>
            </a>
        </div>
        <div class="integral_ul_box">
            <a class="integral_li_box">
                <i class="list_bg zrjl"></i>
                <span class="text">转入记录</span>
            </a>
            <a class="integral_li_box">
                <i class="list_bg zcjl"></i>
                <span class="text">转出记录</span>
            </a>
        </div>
    </div>
    <!--提取积分弹窗-->
    <div class="one_integral_popup">
        <div class="mask_box"></div>
        <div class="popup_content info_content">
            <h2 class="title">提取积分<span class="text">单次提取需2个积分</span></h2>
            <div class="input_box">
                <input type="number" placeholder="请输入大于100的数字">
            </div>
            <div class="btm_btn_box">
                <div class="cancel_btn">取消</div>
                <div class="next_btn">下一步</div>
            </div>
        </div>
        <div class="two_popup_content info_content">
            <h2 class="title">积分转至</h2>
            <div class="info_box">
                <div class="info_list_box">
                    <div class="status_content">
                        <div class="status_box">
                            <input type="checkbox">
                            <i class="status_bg"></i>
                            <span class="bank_name">民生银行</span>
                        </div>
                        <div class="info_text_box">
                            <div class="card_num">0000*******0000</div>
                            <div class="card_name">持卡人:胡*</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btm_btn_box">
                <div class="cancel_btn">取消</div>
                <div class="next_btn">提交申请</div>
            </div>
        </div>
    </div>
</section>
</body>
</html>