<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实名认证</title>
    <%= layout() %>
</head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">实名认证</section>
    <section class="remarks_text">
        <i class="remark_bg"></i>
        为了您的账户安全，请完成实名认证
    </section>
    <section class="form" data-btn="verify_btn">
        <div class="input_box">
            <input type="text" placeholder="真实姓名" data-toggle="true" checkType="name" data-error="请输入正确的姓名">
        </div>
        <div class="input_box">
            <input type="text" placeholder="身份证号码" data-toggle="true" checkType="card" data-error="请输入正确的身份证号">
        </div>
    </section>
    <button class="verify_btn">立即验证</button>
</main>
</body>
<script>
    $(function(){
      verify([{
        el:'.form',
        success:function(){
            $('.verify_btn').addClass('active');
        },
        throughState:function(flag){
            if(flag){
              $('.verify_btn').addClass('active');
            }else{
              $('.verify_btn').removeClass('active');
            }
        }
      }])
    })
</script>
</html>