<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>转入记录</title>
    <%= layout %>
</head>
<body>
<section class="page_container">
    <section class="page_title_container">
        <a class="page_return_btn">
            <i></i>
        </a>
        <h1 class="title">转入记录</h1>
    </section>

    <section class="page_content_box">
        <div class="record_list_box">
            <div class="plate_title_box">
                <p class="plate_num">浙B12341<span class="num">任务号：124545414</span></p>
            </div>
            <div class="time">转入时间：2018-11-11 12:12:12</div>
            <div class="price_box djz">
                <div class="price_num djz">
                    <p class="num">+8,000</p>
                    <p class="status">冻结中</p>
                </div>
            </div>
        </div>
        <div class="record_list_box">
            <div class="plate_title_box">
                <p class="plate_num">浙B12341<span class="num">任务号：124545414</span></p>
            </div>
            <div class="time">转入时间：2018-11-11 12:12:12</div>
            <div class="price_num">
                <p class="num">+6,000</p>
            </div>
        </div>
        <div class="record_list_box">
            <div class="plate_title_box">
                <p class="plate_num">浙B12341<span class="num">任务号：124545414</span></p>
            </div>
            <div class="time">转入时间：2018-11-11 12:12:12</div>
            <div class="price_box sx">
                <div class="price_num sx">
                    <p class="num">+3,000</p>
                    <p class="status">失效</p>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>