<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>绑定新手机</title>
    <script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="http://cdn.msphcn.com/msphStatic/bin/rem.js"></script>
<link href="http://cdn.upingou.com/lingfenStatic/css/user\bind_new_phone.css?44bf26fa50817c7ddd88" rel="stylesheet"></head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">绑定新手机</section>
    <section class="remarks_text">
        <i class="remark_bg"></i>
        重新绑定成功后，原手机号将不能作为登录凭证
    </section>
    <section class="form" data-btn="next_btn">
        <div class="input_box">
            <input type="text" placeholder="新的手机号" data-toggle="true" checkType="phone" data-error="请输入正确的手机号">
        </div>
    </section>
    <a class="next_btn">下一步</a>
</main>
<script type="text/javascript" src="http://cdn.upingou.com/lingfenStatic/js/user\bind_new_phone.js?44bf26fa50817c7ddd88"></script></body>
<script>
    $(function(){
      verify([{
        el:'.form',
        success:function(){
          console.log('doingt');
        },
        throughState:function(flag){
          if(flag){
            $('.next_btn').addClass('active');
          }else{
            $('.next_btn').removeClass('active');
          }
        }
      }])
    })
</script>
</html>