<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>密码设置</title>
    <script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="http://cdn.msphcn.com/msphStatic/bin/rem.js"></script>
<link href="http://cdn.upingou.com/lingfenStatic/css/user\password_set_up.css?44bf26fa50817c7ddd88" rel="stylesheet"></head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">密码设置</section>
    <section class="password_set_up_container">
        <a class="password_a">
            <span class="label_title">设置支付密码</span>
            <i class="right_bg"></i>
        </a>
        <a class="password_a">
            <span class="label_title">设置登录密码</span>
            <i class="right_bg"></i>
        </a>
    </section>
</main>
<script type="text/javascript" src="http://cdn.upingou.com/lingfenStatic/js/user\password_set_up.js?44bf26fa50817c7ddd88"></script></body>
</html>