<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>验证身份</title>
    <script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="http://cdn.msphcn.com/msphStatic/bin/rem.js"></script>
<link href="http://cdn.upingou.com/lingfenStatic/css/user\verify_identity.css?44bf26fa50817c7ddd88" rel="stylesheet"></head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">验证身份</section>
    <section class="remarks_text">
        <i class="remark_bg"></i>
        请输入相关银行卡信息验证身份
    </section>
    <section class="form" data-btn="next_btn">
        <a class="a_bank_box">
            <span class="bank_name">选择银行卡</span>
            <i class="right_bg"></i>
        </a>
        <div class="input_box">
            <input type="number" placeholder="银行卡号" data-toggle="true" checkType="empty" data-error="请输入正确的银行卡号">
        </div>
        <div class="input_box">
            <input type="text" placeholder="身份证号码" data-toggle="true" checkType="card" data-error="请输入正确的身份证号">
        </div>
    </section>
    <a class="next_btn">下一步</a>
</main>
<script type="text/javascript" src="http://cdn.upingou.com/lingfenStatic/js/user\verify_identity.js?44bf26fa50817c7ddd88"></script></body>
<script>
    $(function(){
      verify([{
        el:'.form',
        success:function(){
          console.log('通过')
        },
        throughState:function(flag){
          if(flag){
            $('.next_btn').addClass('active');
          }else{
            $('.next_btn').removeClass('active');
          }
        }
      }])
    })
</script>
</html>