<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>验证手机号</title>
    <script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="http://cdn.msphcn.com/msphStatic/bin/rem.js"></script>
<link href="http://cdn.upingou.com/lingfenStatic/css/user\verify_phone.css?44bf26fa50817c7ddd88" rel="stylesheet"></head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">验证手机号</section>
    <section class="form" data-btn="sure_btn">
        <div class="input_box">
            <input type="text" placeholder="请输入短信验证码" data-toggle="true" checkType="empty" data-error="请输入正确的验证码">
        </div>
        <button class="get_btn">获取验证码</button>
    </section>
    <a class="sure_btn">确定</a>
    <section class="message_popup">修改绑定手机成功</section>
</main>
<script type="text/javascript" src="http://cdn.upingou.com/lingfenStatic/js/user\verify_phone.js?44bf26fa50817c7ddd88"></script></body>
<script>
    $(function(){
        verify([{
          el:'.form',
          success:function(){
            console.log('tongg');
          }
        }])
    })
</script>
</html>