<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>紧急报案</title>
    <%= layout %>
</head>
<body>
<section class="page_container">
    <section class="report_list_container">
        <div class="report_list_box">
            <div class="logo_img_box">
                <img width="100%" height="100%" src="<%= require('../../../public-resource/imgs/jj_tpy_img.jpg') %>">
            </div>
            <div class="right_content_box">
                <h1 class="company_name">中国太平洋财产保险股份有限公司</h1>
                <div class="report_tel_box">报案电话：<span>95589</span></div>
                <div class="tel_box">
                    <a href="tel:95589" class="btn">立即拨打电话</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="report_list_box">
            <div class="logo_img_box">
                <img width="100%" height="100%" src="<%= require('../../../public-resource/imgs/jj_zhpa_img.jpg') %>">
            </div>
            <div class="right_content_box">
                <h1 class="company_name">中国平安</h1>
                <div class="report_tel_box">报案电话：<span>95511</span></div>
                <div class="tel_box">
                    <a href="tel:95511" class="btn">立即拨打电话</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>