<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>业务员登录</title>
    <%= layout %>
</head>
<body>
<section class="page_container">
    <section class="form">
        <div class="plate_num_title">工号：000111</div>
        <div class="input_box">
            <input type="password" placeholder="请输入登录密码" data-toggle="true" checkType="empty" data-error="请输入登录密码">
        </div>
    </section>
    <section class="btm_btn_box">
        <a class="login_btn">登录</a>
    </section>
</section>
</body>
</html>