
<section class="address_picker_popup" data-btn="address_picker">
    <div class="picker_title">
        <h2 class="title">所在地区</h2>
        <div class="close_btn"></div>
    </div>
    <div class="popup_content">
        <ul class="picker_view_box">
            <li class="province_val" data-type="s">请选择</li>
        </ul>
    </div>
</section>