<!--轮播模块-->
<section class="carousel_box">
    <div class="carousel_content">
        <a class="item">
            <img width="100%" height="100%" src="<%= require('../../imgs/test_img1.jpg') %>">
        </a>
        <a class="item">
            <img width="100%" height="100%" src="<%= require('../../imgs/test_img2.jpg') %>">
        </a>
        <a class="item">
            <img width="100%" height="100%" src="<%= require('../../imgs/test_img3.jpg') %>">
        </a>
        <a class="item">
            <img width="100%" height="100%" src="<%= require('../../imgs/test_img4.jpg') %>">
        </a>
    </div>
    <div class="indicator"></div>
</section>