<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分期告知书</title>
    <%= layout() %>
</head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">分期告知书</section>
    <section class="by_stages_content">
        <h2 class="title">总则</h2>
        <div class="stages_list_content">
            <span class="list_title">第一条</span>
            本保险合同由保险条款、投保单、保险单、保险凭证以及批单等组成。凡涉及本保险合同的约定，均应采用书面形式。
        </div>
        <div class="stages_list_content">
            <span class="list_title">第二条</span>
            被保险人应为在依法成立的各类学校或幼儿园具有正式学籍并在学，身体健康的大、中、小学学生及幼儿。被保险人的年龄最高不超过六十五周岁。
        </div>
        <div class="stages_list_content">
            <span class="list_title">第三条</span>
            投保人应为具有完全民事行为能力的被保险人本人、对被保险人有保险利益的其他人。被保险人不具有完全民事行为能力的，必须由其监护人作为投保人，或在取得监护人同意参加本保险合同的前提下，由学校或幼儿园等作为投保人统一组织投保。
        </div>
        <div class="stages_list_content">
            <span class="list_title">第四条</span>
            本保险合同的受益人包括：
        </div>
    </section>
</main>
</body>
</html>