<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自动还款</title>
    <script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="http://cdn.msphcn.com/msphStatic/bin/rem.js"></script>
<link href="http://cdn.upingou.com/lingfenStatic/css/wallet\auto_repayment.css?44bf26fa50817c7ddd88" rel="stylesheet"></head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">自动还款</section>
    <section class="repayment_container">
        <div class="repayment_list_box">
            <div class="header_box">开启账单还款日自动还款</div>
            <div class="list_container">
                <div class="list_box">
                    <h2 class="title">自动还款</h2>
                    <div class="switch_container">
    <div class="move_btn"></div>
    <input type="checkbox">
</div>
                </div>
            </div>
        </div>
        <div class="repayment_list_box" id="js_bank">
            <div class="header_box">系统按以下顺序扣款，点击按钮调整顺序</div>
            <div class="list_container">
                <div class="list_box">
                    <h2 class="title">农业银行(尾号9999)</h2>
                    <div class="pos_adjus_box">
                        <button class="btn up_btn">上移</button>
                        <button class="btn down_btn">下移</button>
                    </div>
                </div>
            </div>
            <div class="list_container">
                <div class="list_box">
                    <h2 class="title">工商银行(尾号9999)</h2>
                    <div class="pos_adjus_box">
                        <button class="btn up_btn">上移</button>
                        <button class="btn down_btn">下移</button>
                    </div>
                </div>
            </div>
            <div class="list_container">
                <div class="list_box">
                    <h2 class="title">中国银行(尾号9999)</h2>
                    <div class="pos_adjus_box">
                        <button class="btn up_btn">上移</button>
                        <button class="btn down_btn">下移</button>
                    </div>
                </div>
            </div>
            <div class="list_container">
                <div class="list_box">
                    <h2 class="title">建设银行(尾号9999)</h2>
                    <div class="pos_adjus_box">
                        <button class="btn up_btn">上移</button>
                        <button class="btn down_btn">下移</button>
                    </div>
                </div>
            </div>
            <div class="list_container">
                <div class="list_box">
                    <h2 class="title">招商银行(尾号9999)</h2>
                    <div class="pos_adjus_box">
                        <button class="btn up_btn">上移</button>
                        <button class="btn down_btn">下移</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="division_box"></section>
    <section class="bank_card_container">
        <div class="list_ul">
            <a class="list_a">
                添加银行卡
                <div class="right_content_box">
                    <span class="val">立即添加</span>
                    <i class="right_bg"></i>
                </div>
            </a>
            <a class="list_a">
                管理银行卡
                <div class="right_content_box">
                    <i class="right_bg"></i>
                </div>
            </a>
        </div>
    </section>
</main>
<script type="text/javascript" src="http://cdn.upingou.com/lingfenStatic/js/wallet\auto_repayment.js?44bf26fa50817c7ddd88"></script></body>
</html>