<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首期支付</title>
    <script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="http://cdn.msphcn.com/msphStatic/bin/rem.js"></script>
<link href="http://cdn.upingou.com/lingfenStatic/css/wallet\by_stages_three.css?44bf26fa50817c7ddd88" rel="stylesheet"></head>
<body>
<main class="page">
    <a class="return_page_btn"></a>
    <section class="page_header_container">首期支付</section>
    <section class="payment_base_container">
        <div class="money_box">
            <p class="money">￥1,030.00</p>
            <i class="choice_bg"></i>
        </div>
        <p class="card_name">金池SPA养生会所充值卡</p>
    </section>
    <button class="payment_btn">立即支付</button>
</main>
<script type="text/javascript" src="http://cdn.upingou.com/lingfenStatic/js/wallet\by_stages_three.js?44bf26fa50817c7ddd88"></script></body>
</html>