<div class="header_nav_box">
    <ul class="nav_ul">
        <li class="nav_li finish_active">
            <span class="spot"></span>
            <span class="title">填写信息</span>
        </li>
        <li class="nav_li finish_active">
            <span class="spot"></span>
            <span class="title">选择方案</span>
        </li>
        <li class="nav_li finish_active">
            <span class="spot"></span>
            <span class="title">险企报价</span>
        </li>
        <li class="nav_li active">
            <span class="spot"></span>
            <span class="title">核保审核-核保退回</span>
        </li>
        <li class="nav_li">
            <span class="spot"></span>
            <span class="title">支付订单</span>
        </li>
    </ul>
</div>
<div class="top_submit_error_box">
    <div class="error_content_container">
        <div class="error_content_box">
            <div class="error_bg"></div>
            <div class="error_infor_content">
                <h2 class="title">核保未通过</h2>
                <p class="text">您的订单未通过核保。您上传的照片不够清晰，请重新上传。点击<span class="add_remarks_btn">添加备注</span>
                    可增加备注信息，提高核保通过率。</p>
            </div>
        </div>
    </div>
</div>
<div class="main_content_box form remarks_container" data-btn="next_btn">
    <div class="main_form_box">
        <div class="form_title">提交备注信息</div>
        <div class="form_right_content">
            <div class="textarea_box">
                <textarea placeholder="请输入备注信息" class="js_textarea"></textarea>
                <div class="num_show_box">
                    <span class="current_num">0</span>/<span class="all_num">150</span>
                </div>
                <input type="checkbox">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="main_form_box">
    <h2 class="form_title">车辆信息</h2>
    <div class="form_right_content">
        <p class="form_note_text">核保通过需提供以下材料<span>：1.行驶证正页照； 2.行驶证副页照； 3.被保人身份证正面；4.被保人身份证反面</span>共4张照片。</p>
        <div class="loading_img_container">
            <input type="file" class="xsz_file">
            <div class="loading_img_box" class="xsz_upload">
                <span class="text">选择文件</span>
            </div>
        </div>
        <div class="img_show_box">
            <img width="100%" height="100%" src="">
            <div class="btm_box">
                <i class="delete_img_btn"></i>
            </div>
        </div>
        <p class="form_note_text">
            过户车需额外上传带有当日验车照的车辆图像，包括车辆<span>右前侧、左前侧、左右侧、右后侧、带有车辆识别码</span>的共5张照片。<em>(选填)</em></p>
        <div class="loading_img_container">
            <input type="file" class="xsz_file">
            <div class="loading_img_box" class="xsz_upload">
                <span class="text">选择文件</span>
            </div>
        </div>
        <a href="car_first_plan.html" class="next_btn">确认信息</a>

    </div>
    <div class="clear"></div>
</div>