<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>页面错误</title>
    <script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="http://cdn.msphcn.com/msphStatic/bin/rem.js"></script>
<link href="/xpxStatic/css/\web_state\page_error\page_error.css?51d6558ac02221d5e8f1" rel="stylesheet"></head>
<body>
<section class="page_container">
    <section class="page_error_content_box">
        <div class="img_box">
            <img width="100%" height="100%" src="/xpxStatic/img/9fb376e552f9d25a7f2944d06cb8ac05.jpg">
        </div>
        <div class="error_text">页面错误</div>
    </section>
</section>
<script type="text/javascript" src="/xpxStatic/js/\web_state\page_error\page_error.js?51d6558ac02221d5e8f1"></script></body>
</html>